.price-section {
  background-color: cl(base);
  padding-top: 30px;
  padding-bottom: 80px;
}

.price-title {
  border-bottom: 3px solid cl(white);
  width: 70%;
  margin: 0 auto;
}

.price-list {
  display: flex;
  justify-content: space-around;
  padding-top: 65px;
  @include sp {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 50px;
    padding-top: 30px;
    @include min {
      margin: 0 25px;
    }
  }
  .price-item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    @include sp {
      width: 50%;
      &:nth-child(n+3) {
        padding-top: 50px;
      }
    }
    .price-container {
      margin: 0 auto;
      .price-item-title {
        padding-top: 38px;
        font-size: 25px;
        font-weight: bold;
        background: linear-gradient(transparent 80%, cl(hover));
        border-radius: 6px;
        display: inline-block;
        @include sp {
          font-size: 20px;
          padding-top: 13px;
        }
      }
      .price-arrow {
        width: 0px;
        border-color: cl(text);
        border-style: solid;
        border-width: 30px;
        border-left-color: transparent;
        border-bottom-color: transparent;
        border-right-color: transparent;
        margin: 0 auto;
        margin-top: 20px;
        @include sp {
          margin-top: 14px;
        }
      }
      .price-item-content {
        font-size: 15px;
        background-color: cl(hover);
        border-radius: 50%;
        width: 250px;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include sp {
          font-size: 10px;
          width: 190px;
          height: 190px;
          margin-top: -17px;
          @include min {
            width: 145px;
            height: 145px;
          }
        }
        dt {
          font-size: 18px;
          @include sp {
            font-size: 15px;
            @include min {
              font-size: 12px;
            }
          }
          &:not(:first-child) {
          padding-top: 10px;
          }
        }
        dd {
          text-decoration: underline;
          padding-top: 5px;
          font-weight: bold;
          font-size: 20px;
          text-transform: uppercase;
          @include sp {
            font-size: 14px;
            @include min {
              font-size: 12px;
            }
          }
        }
        p {
          padding-top: 25px;
          font-size: 18px;
          @include sp {
            font-size: 14px;
            @include min {
              font-size: 14px;
            }
          }
        }
      }
    }
    img {
      width: 230px;
      height: 230px;
      border-radius: 50%;
      @include sp {
        width: 180px;
        height: 180px;
        @include min {
          width: 140px;
          height: 140px;
        }
      }
    }
  }
}