body {
  font-family: 'Hiragino Kaku Gothic ProN';
  color: cl(text);
}

a {
  color: cl(text);
  text-decoration: none;
  text-transform: capitalize;
}

img {
  width: 100%;
  height: auto;
}

li {
  list-style: none;
}

.cmn-section {
  width: 85%;
  margin: 0 auto;
}

.cmn-btn {
  background-color: cl(base);
  border-radius: 18px;
  border: 1px solid cl(text);
  display: inline-block;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  span {
    transition: all 0.5s ease-in-out;
  }
  &:hover {
    background-color: cl(hover);
    a, span {
      color: cl(white);
    }
  }
}

.cmn-title {
  text-align: center;
  font-weight: bold;
  h2:nth-child(1) {
    font-size: 40px;
    @include sp {
      font-size: 30px;
    }
  }
  h2:nth-child(2) {
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 8px;
    text-transform: capitalize;
  }
}